@model List<Online_Exam_System.Models.Question>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Online Exam Quiz</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }

        .quiz-container {
            max-width: 863px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .question {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .answers {
            display: flex;
            flex-direction: column;
        }

        .answer {
            margin: 5px 0;
        }

        .btn-submit {
            background-color: #007BFF;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .answer-option {
            display: inline-block;
            margin-right: 10px; /* Add spacing between answer options */
        }

        .answer-option1 {
            display: inline-block;
            margin-right: 10px; /* Add spacing between answer options */
        }

            .answer-option1 input[type="checkbox"] {
                vertical-align: middle;
                margin-right: 5px; /* Add spacing between checkboxes and labels */
            }

        .answer-option input[type="radio"] {
            vertical-align: middle;
            margin-right: 5px; /* Add spacing between radio buttons and labels */
        }

        .text-right {
            margin-left: 18px;
        }

        .text-left {
            margin-left: 544px;
        }

        -webkit-user-select: none; /* Chrome all and Safari all */
        -moz-user-select: none; /* Firefox all */
        -ms-user-select: none; /* IE 10+ */
        user-select: none;
        </style>


</head>
<body>
    <div class="quiz-container">

        @if (ViewBag.IsExamOver)
        {
            <h1 style="color: red; text-align: center; text-shadow: 2px 2px 4px rgba(0,0,0,0.5);font-style: italic;">Exam is over</h1>
            <h5 style="text-align:center;"><b>University of Information Technology & Sciences(UITS)</b></h5>
            <h6 style="text-align:center"><b>Faculty of Science And Engineering</b></h6>
            @foreach (var exam in ViewBag.DistinctExams)
            {
                <h6 style="text-align:center"><b>Department of @exam.DepartmentName</b></h6>
                <h6 style="text-align:center"><b>Course Title: @exam.CourseTittle</b></h6>
                <h6 style="text-align:center"><b>Course Code: @exam.CourseCode</b></h6>
            }

            <h7 class="text-right"><b>Total Mark: @ViewBag.TotalMarks</b></h7>
            <h7 class="text-left"> <b>Time: @ViewBag.Time</b></h7>
            @using (Html.BeginForm("SubmitQuiz", "QuizController", FormMethod.Post))
            {

                <ol type="1">
                    @foreach (var question in Model)
                    {
                        <div class="question">
                            <p>
                        <li>@Html.Raw(question.QuestionDescription)</li></p>


                </div>
                <ol type="a">
                            @foreach (var answer in question.Answers)
                            {
                        <li>
                                    @if (question.QuestionTypeId == 1 || question.QuestionTypeId == 3)
                                    {

                                <div class="answers answer-option">
                                    <input type="radio" name="question@(question.QuestionId)" value="@answer.AnswerId" id="answer@(answer.AnswerId)">
                                    <label for="answer@(answer.AnswerId)">
                                                @Html.Raw(answer.AnswerText)
                                    </label>
                                </div>


                                    }

                                    else if (question.QuestionTypeId == 2)
                                    {
                                <!-- Display checkboxes for other types of questions -->

                                <div class="answers answer-option1">
                                    <input type="checkbox" name="question@(question.QuestionId)" value="@answer.AnswerId" id="answer@(answer.AnswerId)">

                                    <label>
                                                @Html.Raw(answer.AnswerText)
                                    </label>
                                </div>

                                    }
                        </li>
                            }
                </ol>
                    }
            </ol>


                @if (!ViewBag.IsExamOver)
                {
                <button class="btn-submit" type="submit">Submit Quiz</button>
                }
                else
                {

                }
            }
        }

        else
        {
        <h5 style="text-align:center;"><b>University of Information Technology & Sciences(UITS)</b></h5>
        <h6 style="text-align:center"><b>Faculty of Science And Engineering</b></h6>
            @foreach (var exam in ViewBag.DistinctExams)
            {
            <h6 style="text-align:center"><b>Department of @exam.DepartmentName</b></h6>
            <h6 style="text-align:center"><b>Course Title: @exam.CourseTittle</b></h6>
            <h6 style="text-align:center"><b>Course Code: @exam.CourseCode</b></h6>

            }

        <h7 class="text-right"><b>Total Mark: @ViewBag.TotalMarks</b></h7>
        <h7 class="text-left"> <b>Time: @ViewBag.Time</b></h7>
            @using (Html.BeginForm("SubmitQuiz", "QuizController", FormMethod.Post))
            {

            <ol type="1">
                    @foreach (var question in Model)
                    {
                    <div class="question">
                        <p>
                    <li>@Html.Raw(question.QuestionDescription)</li></p>


                    </div>
                    <ol type="a">
                            @foreach (var answer in question.Answers)
                            {
                            <li>
                                    @if (question.QuestionTypeId == 1 || question.QuestionTypeId == 3)
                                    {

                                    <div class="answers answer-option">
                                        <input type="radio" name="question@(question.QuestionId)" value="@answer.AnswerId" id="answer@(answer.AnswerId)">
                                        <label for="answer@(answer.AnswerId)">
                                                @Html.Raw(answer.AnswerText)
                                        </label>
                                    </div>


                                    }

                                    else if (question.QuestionTypeId == 2)
                                    {
                                    <!-- Display checkboxes for other types of questions -->

                                    <div class="answers answer-option1">
                                        <input type="checkbox" name="question@(question.QuestionId)" value="@answer.AnswerId" id="answer@(answer.AnswerId)">

                                        <label>
                                                @Html.Raw(answer.AnswerText)
                                        </label>
                                    </div>

                                    }
                            </li>
                            }
                    </ol>
                    }
            </ol>



            <button class="btn-submit" type="submit">Submit Quiz</button>

            }
        <script>
            // Function to refresh the page when the end time is reached
            function refreshPageOnEndTime() {
                var examEndTime = new Date('@ViewBag.ExamEndTime'); // Get the exam end time from Razor

                var refreshInterval = examEndTime - new Date(); // Calculate the time remaining

                if (refreshInterval <= 0) {
                    location.reload(); // Reload the page if the end time has passed
                } else {
                    setTimeout(refreshPageOnEndTime, refreshInterval); // Refresh the page when the end time is reached
                }
            }

            // Call the refreshPageOnEndTime function
            refreshPageOnEndTime();
        </script>

        <!-- Your existing HTML code -->
            @if (!ViewBag.IsExamOver)
            {
            <script>
                document.addEventListener('contextmenu', function (e) {
                    e.preventDefault();
                    alert('Do not copy it.');
                });

                document.addEventListener('keydown', function (e) {
                    if (e.ctrlKey || e.metaKey) {
                        alert('Copying using keyboard shortcuts is not allowed.');
                        e.preventDefault();
                    }
                });

                // Function to show an alert when the user switches tabs or the window loses focus
                document.addEventListener('visibilitychange', handleVisibilityChange);
                window.addEventListener('blur', handleVisibilityChange);

                // Function to show an error message when clicking outside the quiz-container
                document.addEventListener('click', function (e) {
                    var quizContainer = document.querySelector('.quiz-container');

                    if (!quizContainer.contains(e.target)) {
                        var confirmation = confirm('Clicking outside the quiz area is not allowed. Do you want to go to another view?');

                        if (confirmation) {
                            // Redirect to another view
                            window.location.href = '/Exam/ForCheat'; // Replace with the actual URL
                        }
                    }
                });

                function handleVisibilityChange() {
                    if (document.hidden) {
                        alert('Switching tabs or losing focus is not allowed.');
                        // Redirect to another view
                        window.location.href = '/Exam/ForCheat'; // Replace with the actual URL
                    }
                }
            </script>
            }

        <!-- Your existing HTML code continues -->
        }


    </div>

    
    <script>
        // Disable the back button
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);
        };
    </script>

</body>
</html>