@model Online_Exam_System.ViewModel.QuestionAnsweViewModel
@{
    ViewData["Title"] = "without bootstrap";
    Layout = "_Layout"; // Specify the layout to use
}
<style>
    .row.custom-dsn {
        margin-left: 72px;
    }

    .custom-dsn2 {
        margin-left: 155px;
    }

    input.correct-answer {
        margin-left: 5px;
    }

    .custom-dsn3{
        margin-left: 565px;
        padding-bottom: 20px;
    }

    button.btn.btn-block.btn-outline-info.btn-flat.button1 {
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 10px;
    }

    .row1 {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -7.5px;
        margin-left: -7.5px;
        background-color: #cccfcf;
    }

    .card-primary1:not(.card-outline) > .card-header {
        background-color: #5e7e75;
    }

    .col-md-4.cutomize-data {
        margin-left: 93px;
    }

    .col-md-1.customize-data1 {
        margin-left: 45px;
    }

    .form-group1 {
        margin-bottom: 1rem;
        background-color: #cbd3db;
        margin-top: -17px;
    }
</style>



<div class="card card-primary1">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Set Multiple Answer Question</h3>
        </div>
        <form asp-controller="Question" asp-action="AddMultipleSelectQuestion" role="form">
            <div class="container">
                <div class="row1">
                    <div class="col-md-2">
                        <a id="SingleAnswerButton" asp-action="AddQestion" asp-route-id="@Model.CourseId">
                            <button type="button" class="btn btn-block btn-outline-info btn-flat button1">Single Answer</button>
                        </a>
                        @*<a asp-action="AddQestion" asp-controller="Question"><button type="button" class="btn btn-block btn-outline-info btn-flat button1">Single Answer</button></a>*@
                    </div>
                    <div class="col-md-2">
                        <a id="multipleAnswerButton" asp-action="AddMultipleSelectQuestion" asp-route-id="@Model.CourseId" >
                            <button type="button" class="btn btn-block btn-outline-info btn-flat button1">Multiple Answer</button>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a id="trueFalseAnswerButton" asp-action="AddTrueFalseQuestion" asp-route-id="@Model.CourseId">
                            <button type="button" class="btn btn-block btn-outline-info btn-flat button1">True/False</button>
                        </a>
                    </div>
                </div>
            </div>
        </form>
     
        <form asp-controller="Question" asp-action="AddMultipleSelectQuestion" role="form" method="post" role="form">
            @*<div class="container">
                <div class="row1">
                    <div class="col-md-2">
                        <a id="SingleAnswerButton" asp-action="AddQestion" asp-route-id="@Model.CourseId">
                            <button type="button" class="btn btn-block btn-outline-info btn-flat button1">Single Answer</button>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a id="multipleAnswerButton" asp-action="AddMultipleSelectQuestion" asp-route-id="@Model.CourseId">
                            <button type="button" class="btn btn-block btn-outline-info btn-flat button1">Multiple Answer</button>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a id="trueFalseAnswerButton" asp-action="AddTrueFalseQuestion" asp-route-id="@Model.CourseId">
                            <button type="button" class="btn btn-block btn-outline-info btn-flat button1">True/False</button>
                        </a>
                    </div>
                </div>
            </div>*@
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 cutomize-data">
                        <div class="form-group ">
                            <label asp-for="CourseId">Course Code</label>
                            <select id="courseDropdown" class="form-control" asp-for="CourseId" asp-items="@(new SelectList(ViewBag.CourseAssigns1,"CourseId","CourseCode"))">
                                <option>Please select one</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 cutomize-data1">
                        <div class="form-group">
                            <label asp-for="ExamId">Select Exam</label>
                            <select id="examDropdown" class="form-control" asp-for="ExamId" asp-items="@(new SelectList(ViewBag.exams, "ExamId", "ExamTitle"))">
                                <option>Please select one</option>
                            </select>
                        </div>
                    </div>

                    @*<div class="col-md-4 cutomize-data1">
                        <div class="form-group">
                            <label asp-for="ExamId">Exam title</label>
                            <select id="examDropdown" class="form-control" asp-for="ExamId">
                                <option>Please select one</option>
                            </select>
                        </div>
                    </div>*@

                   

                    
                
                    <div class="col-md-1 customize-data1">
                        <div class="form-group">
                            <label asp-for="Mark">Mark</label>
                            <input asp-for="Mark" type="text" class="form-control" placeholder="mark">
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <div class="form-group">
                                <textarea asp-for="QuestionDescription" id="summernote100" name="QuestionDescription"></textarea>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <textarea asp-for="Question1" id="summernote101" name="Question1"></textarea>
                            </div>
                            <div class="form-group1">
                                <input type="checkbox" asp-for="Question1Answer" class="correct-answer background" name="Question1Answer" value="true"><b> Correct Answer</b>
@*                                <input type="checkbox" class="correct-answer" name="answer"><b> Correct Answer</b>
*@                            </div>
                            
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <textarea asp-for="Question7" id="summernote700" name="Question7"></textarea>
                               @* <textarea id="summernote700" name="editordata1"></textarea>*@
                            </div>
                            <div class="form-group1">
                                <input type="checkbox" asp-for="Question7Answer" class="correct-answer background" name="Question7Answer" value="true"><b> Correct Answer</b>
                               @* <input type="checkbox" class="correct-answer" name="answer"><b> Correct Answer</b>*@
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <textarea asp-for="Question2" id="summernote300" name="Question2"></textarea>
                                @*<textarea id="summernote300" name="editordata1"></textarea>*@
                            </div>
                            <div class="form-group1">
                                <input type="checkbox" asp-for="Question2Answer" class="correct-answer background" name="Question2Answer" value="true"><b> Correct Answer</b>
                               @* <input type="checkbox" class="correct-answer" name="answer"><b> Correct Answer</b>*@
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <textarea asp-for="Question3" id="summernote400" name="Question3"></textarea>
                                @*<textarea id="summernote400" name="editordata1"></textarea>*@
                            </div>
                            <div class="form-group1">
                                <input type="checkbox" asp-for="Question3Answer" class="correct-answer background" name="Question3Answer" value="true"><b> Correct Answer</b>
                                @*<input type="checkbox" class="correct-answer" name="answer"><b> Correct Answer</b>*@
                            </div>
                        </div>
                        <input type="hidden" asp-for="Question1Answer" name="Question1Answer" />
                        <input type="hidden" asp-for="Question7Answer" name="Question7Answer" />
                        <input type="hidden" asp-for="Question2Answer" name="Question2Answer" />
                        <input type="hidden" asp-for="Question3Answer" name="Question3Answer" />

                    </div>
                </div>

                <div class="col-md-3 justify-content-center custom-dsn3">
                    <a ><button type="submit" class="btn btn-block bg-gradient-success btn-lg">Save</button></a>

                </div>
            </div>
        </form>

    </div>
</div>


@section Scripts {
 
    <script>
        $(document).ready(function () {
            $('#summernote100').summernote({
                placeholder: 'Hello stand alone ui',
                tabsize: 2,
                height: 120,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['fullscreen', 'codeview', 'help']]
                ]
            });
        });

        // Initialize the first Summernote editor
        $(document).ready(function () {
            $('#summernote101').summernote({
                placeholder: 'Hello stand alone ui',
                tabsize: 2,
                height: 60,
                toolbar: [['font', ['bold', 'underline', 'clear']]],
                callbacks: {
                    onInit: function () {
                        // Add your custom footer content here
                        //var initialContent2 = '<p><b><input type="checkbox" class="correct-answer" name="answer"> Correct Answer</b></p>';
                        var $editor1 = $('#summernote101').next(); // Get the Summernote editor container
                        $editor1.append(initialContent2);
                    }
                }
            });
        });

        $(document).ready(function () {
            $('#summernote700').summernote({
                placeholder: 'Hello stand alone ui',
                tabsize: 2,
                height: 60,
                toolbar: [
                    ['font', ['bold', 'underline', 'clear']]

                ],
                //HTMLDivElement:'ddd'
                callbacks: {
                    onInit: function () {
                        // Add your custom footer content here
                        //var initialContent3 = '<p><b><input type="checkbox" class="correct-answer" name="answer"> Correct Answer</b></p>';
                        var $editor1 = $('#summernote700').next(); // Get the Summernote editor container
                        $editor1.append(initialContent3);
                    }
                }
            });

        });

        $(document).ready(function () {
            $('#summernote300').summernote({
                placeholder: 'Hello stand alone ui',
                tabsize: 2,
                height: 60,
                toolbar: [['font', ['bold', 'underline', 'clear']]],
                callbacks: {
                    onInit: function () {
                        // Add your custom footer content here
                        //var initialContent2 = '<p><b><input type="checkbox" class="correct-answer" name="answer"> Correct Answer</b></p>';
                        var $editor1 = $('#summernote300').next(); // Get the Summernote editor container
                        $editor1.append(initialContent2);
                    }
                }
            });
        });
        $(document).ready(function () {
            $('#summernote400').summernote({
                placeholder: 'Hello stand alone ui',
                tabsize: 2,
                height: 60,
                toolbar: [['font', ['bold', 'underline', 'clear']]],
                callbacks: {
                    onInit: function () {
                        // Add your custom footer content here
                        //var initialContent2 = '<p><b><input type="checkbox" class="correct-answer" name="answer"> Correct Answer</b></p>';
                        var $editor1 = $('#summernote400').next(); // Get the Summernote editor container
                        $editor1.append(initialContent2);
                    }
                }
            });
        });

        var summernoteCount1 = 1; // Initial count for Summernote editors

        // Function to add more Summernote editors
        //function addMoreSummernote1() {
        //    summernoteCount1++; // Increment the count
        //    if (summernoteCount1 > 4) {
        //        Swal.fire({
        //            icon: 'error',
        //            title: 'SORRY',
        //            text: 'You Can not Add more!',
        //        })
        //    }
        //    else {
        //        console.log("-----------" + summernoteCount1);
        //        var newSummernoteId1 = "summernote101" + summernoteCount1; // Generate a unique ID for the new Summernote editor

        //        // Create a new Summernote textarea and append it to the container
        //        var newSummernoteTextarea1 = '<div class="col-md-8">' +
        //            '<div class="form-group">' +
        //            '<textarea id="' + newSummernoteId1 + '" name="editordata1"></textarea>' +
        //            '</div>' +
        //            '</div>';

        //        $('.row.justify-content-center').append(newSummernoteTextarea1);

        //        // Initialize the new Summernote editor
        //        $('#' + newSummernoteId1).summernote({
        //            placeholder: 'Hello stand alone ui',
        //            tabsize: 2,
        //            height: 60,
        //            toolbar: [['font', ['bold', 'underline', 'clear']]],
        //            callbacks: {
        //                onInit: function () {
        //                    // Add your custom footer content here
        //                    var initialContent2 = '<p><b><input type="checkbox" class="correct-answer" name="answer"> Correct Answer</b></p>';
        //                    var $editor1 = $('#' + newSummernoteId1).next(); // Get the Summernote editor container
        //                    $editor1.append(initialContent2);
        //                }
        //            }
        //        });
        //    }


        //}

        // Add an event listener to the "Add More" button
        $(document).on('click', '#addMoreSummernote1', function () {
            addMoreSummernote1();

        });

    </script>

    <script>
        //// Add click event handlers for the buttons
        //$('#SingleAnswerButton').click(function (e) {
        //    var courseId = $('#courseDropdown').val();
        //    console.log("single ans==========" + courseId)// Get the selected Course ID
        //    if (!courseId) {
        //        e.preventDefault();
        //        alert('Please select a Course');
        //    } else {
        //        // Update the href attribute of the button with the selected Course ID
        //        $(this).attr('href', $(this).attr('href') + '?courseId=' + courseId);
        //    }
        //});
        $('#SingleAnswerButton').click(function (e) {
            var courseId = $('#courseDropdown').val();
            var examId = $('#examDropdown').val();

            if (!courseId || !examId) {
                e.preventDefault();
                alert('Please select both a Course and an Exam');
            } else {
                $(this).attr('href', $(this).attr('href') + '?courseId=' + courseId + '&examId=' + examId);
            }
        });

        $('#multipleAnswerButton').click(function (e) {
            var courseId = $('#courseDropdown').val(); // Get the selected Course ID
            var examId = $('#examDropdown').val(); // Get the selected Exam ID

            if (!courseId || !examId) {
                e.preventDefault();
                alert('Please select both a Course and an Exam');
            } else {
                // Update the href attribute of the button with the selected Course and Exam IDs
                $(this).attr('href', $(this).attr('href') + '?courseId=' + courseId + '&examId=' + examId);
            }
        });


        //$('#multipleAnswerButton').click(function (e) {
        //    var courseId = $('#courseDropdown').val(); // Get the selected Course ID
        //    console.log("multiple ans==========" +courseId)
        //    if (!courseId) {
        //        e.preventDefault();
        //        alert('Please select a Course');
        //    } else {
        //        // Update the href attribute of the button with the selected Course ID
        //        $(this).attr('href', $(this).attr('href') + '?courseId=' + courseId);
        //    }
        //});

        $('#trueFalseAnswerButton').click(function (e) {
            var courseId = $('#courseDropdown').val();
            var examId = $('#examDropdown').val();

            if (!courseId || !examId) {
                e.preventDefault();
                alert('Please select both a Course and an Exam');
            } else {
                $(this).attr('href', $(this).attr('href') + '?courseId=' + courseId + '&examId=' + examId);
            }
        });

        //$('#trueFalseAnswerButton').click(function (e) {
        //    var courseId = $('#courseDropdown').val(); // Get the selected Course ID
        //    if (!courseId) {
        //        e.preventDefault();
        //        alert('Please select a Course');
        //    } else {
        //        // Update the href attribute of the button with the selected Course ID
        //        $(this).attr('href', $(this).attr('href') + '?courseId=' + courseId);
        //    }
        //});
    </script>
}
